:root {
  --color-bg: #fafafa;
  --color-surface: #fff;

  --color-text-primary: #1d1d1f;
  --color-text-secondary: #2b2b2e;

  --color-accent: rgb(0, 123, 255);

  --color-border: #c2c2c2;

  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 var(--spacing-lg);
}

/* ===== header =====  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
  background: var(--color-surface);
}

.logo {
  cursor: default;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
}

.button {
  padding: var(--spacing-sm) var(--spacing-lg);
  background: transparent;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  font-size: var(--font-size-sm);
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

.button:hover {
  background-color: var(--color-text-primary);
  color: var(--color-surface);
  border-color: var(--color-text-primary);
}

/* ===== hero section =====  */
.hero-section {
  padding: calc(var(--spacing-md) * 4) 0;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: calc(var(--font-size-base) * 3);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-md);
}

.hero-subtitle {
  font-size: var(--font-size-xl);
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-xl);
}

.hero-button {
  background: var(--color-accent);
  color: var(--color-surface);
  border: none;
  border-radius: var(--radius-lg);
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-md);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hero-button:hover {
  background: var(--color-accent);
  transform: translateY(-2px);
  box-shadow: 0 4px 16px
    color-mix(in srgb, var(--color-accent) 30%, transparent);
}

.hero-image {
  width: 100%;
  height: 280px;
  background: skyblue;
  border-radius: var(--radius-lg);
}

@media (min-width: 1024px) {
  .container {
    padding: 0 calc(var(--spacing-xl) * 4);
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: var(--spacing-xl);
    text-align: left;
  }

  .hero-title {
    font-size: calc(var(--font-size-base) * 2);
  }

  .hero-subtitle {
    font-size: var(--font-size-lg);
  }

  .hero-title > br {
    display: none;
  }

  .hero-button {
    margin: 0;
    padding: var(--spacing-sm) calc(var(--spacing-xl) * 2);
  }
}
